@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=arc-dark], [data-theme=dark] *, [data-theme=arc-dark] *));
/* @custom-variant admin (&:where(body[class*="admin-"], body[class*="admin-"] *)); */

@source "./app/Views/**/*.php";
@source "./public/js/**/*.js";
@plugin "daisyui" {
    themes: dark --default, corporate;
}
@plugin "@tailwindcss/typography";

@theme {
    /* Fonts */
    --font-main: "Arimo", ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Fira Sans Extra Condensed", ui-sans-serif, system-ui, sans-serif;
    --font-bebas: "Bebas Neue", ui-sans-serif, system-ui, sans-serif;
    --font-main-admin: "Arimo", ui-sans-serif, system-ui, sans-serif;
    --font-heading-admin: "Fira Sans Extra Condensed", ui-sans-serif, system-ui, sans-serif;

    /* Background images */
    --bg-bg1: url("../gfx/svg/login.svg");
    --bg-bg2: url("../gfx/svg/hero.svg");
    --bg-bg3: url("../gfx/svg/testimonials.svg");
}

@import "./themes.css";

@layer base {
    body {
        @apply font-main;
        scrollbar-gutter: auto !important;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-heading;
    }
    h1, h2, h3 {
        font-weight: 700;
    }
    h4, h5, h6 {
        font-weight: 500;
    }

    [data-admin="true"] {
        @apply font-main-admin;
        h1, h2, h3, h4, h5, h6 {@apply font-heading-admin;}
    }
}

@import "./components.css";
@import "./utilities.css";
@import "./overrides.css";
