@import "tailwindcss";
@source "./app/Views/**/*.php";
@source "./public/js/**/*.js";
@plugin "daisyui" {
    themes: dark --default;
}
@plugin "@tailwindcss/typography";

@theme {
    /* Fonts */
    --font-sans: "Arimo", ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Fira Sans Extra Condensed", ui-sans-serif, system-ui, sans-serif;
    --font-bebas: "Bebas Neue", ui-sans-serif, system-ui, sans-serif;

    /* Background images */
    --bg-bg1: url("../gfx/login.svg");
}

@layer base {
    body { @apply font-sans;scrollbar-gutter: auto !important;}
    h1, h2, h3, h4, h5, h6 { @apply font-heading; }
    h1, h2, h3 { font-weight: 700; }
    h4, h5, h6 { font-weight: 500; }
}

@layer components {
     /* ckEditor Apply Prose */
    .ck-editor__editable {
        @apply prose max-w-none;
    }
    /* ckEditor Fix */
    .ck-powered-by {display: none !important;}
}

@layer utilities {
    /* 100% Human Text Animation */
    @keyframes gradient-move {
        0%, 100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }
    .animated-border {
        @apply relative inline-flex items-center rounded font-semibold overflow-hidden px-3 py-1;

        &::before {
            content: "";
            @apply absolute inset-0 rounded p-[2px];
            background: linear-gradient(
                90deg,
                var(--tw-gradient-from, theme(colors.primary.DEFAULT)),
                theme(colors.purple.500),
                theme(colors.blue.500),
                var(--tw-gradient-to, theme(colors.primary.DEFAULT))
            );
            background-size: 200% 200%;
            animation: gradient-move 4s ease infinite;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
        }

        > * {
            @apply relative z-10;
        }
    }

    /* Backgrounds */
    .custom-bg-1 {background-image: var(--bg-bg1);}
    .custom-bg-1 {
        @apply bg-cover bg-bottom bg-no-repeat;
    }

    /* Tables */
    .table-zebra-soft tbody tr:nth-child(even) { @apply bg-white/5; }

    /* Stats */
    .stat-lg .stat-title { @apply text-lg; }
    .stat-lg .stat-value { @apply text-5xl leading-tight font-bebas; }

    /* Scrollbar */
    .scrollbar-auto {scrollbar-gutter: auto !important;} /* Add this via JS to HTML in a modal */
}

/* ---------------------------------------------------
   Local Tailwind Overrides (ignored by Git)
--------------------------------------------------- */
@import "./tailwind-overrides.css";