@import "tailwindcss";
@source "./app/Views/**/*.php";
@source "./public/js/**/*.js";
@plugin "daisyui" {
    /* light: nord, dark: dark, chosen by browser */
    themes: autumn --default, dark --prefersdark;
}
@plugin "@tailwindcss/typography";

@theme {
    /* Fonts */
    --font-sans: "Arimo", ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Fira Sans Extra Condensed", ui-sans-serif, system-ui, sans-serif;
    --font-bebas: "Bebas Neue", ui-sans-serif, system-ui, sans-serif;

    /* Background images */
    --bg-bg1: url("../gfx/bg1.webp");
}

@layer base {
    body { @apply font-sans;scrollbar-gutter: auto !important;}
    h1, h2, h3, h4, h5, h6 { @apply font-heading; }
    h1, h2, h3 { font-weight: 700; }
    h4, h5, h6 { font-weight: 500; }
}

@layer utilities {
    /* Backgrounds */
    .custom-bg-1 {background-image: var(--bg-bg1);}
    .custom-bg-1 {
        @apply bg-cover bg-center bg-no-repeat bg-black/60 bg-blend-overlay;
    }

    /* Tables */
    .table-zebra-soft tbody tr:nth-child(even) { @apply bg-white/5; }

    /* Stats */
    .stat-lg .stat-title { @apply text-lg; }
    .stat-lg .stat-value { @apply text-5xl leading-tight font-bebas; }

    /* Scrollbar */
    .scrollbar-auto {scrollbar-gutter: auto !important;} /* Add this via JS to HTML in a modal */

    /* ckEditor Fix */
    .ck-powered-by {display: none !important;}

    /* Info Menu in Footer */
    .menu-info li {
        @apply flex-row gap-2 items-center pl-3 mb-2;
        span {
            @apply badge badge-dash text-secondary font-semibold font-mono pointer-events-none;
        }
    }


}
